Source: zettarepl
Section: admin
Priority: optional
Maintainer: William Grzybowski <william@grzy.org>
Build-Depends: debhelper-compat (= 12),
               dh-python,
               python3-all,
               python3-croniter,
               python3-isodate,
               python3-jsonschema,
               python3-paramiko,
               python3-setuptools,
               python3-yaml,
Standards-Version: 4.4.0
Homepage: https://github.com/freenas/zettarepl
Vcs-Browser: https://salsa.debian.org/python-team/modules/zettarepl
Vcs-Git: https://salsa.debian.org/python-team/modules/zettarepl.git
Testsuite: autopkgtest-pkg-python

Package: python3-zettarepl
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, lz4, mbuffer, pigz, plzip, xz-utils, xzdec
Description: Zettabyte File System (ZFS) Replication Tool written in Python
 zettarepl is a cross-platform ZFS replication solution. It provides:
 .
  - Snapshot-based PUSH and PULL replication over SSH or high-speed
    unencrypted connection
  - Extensible snapshot creation and replication schedule, replication of
    manually created snapshots
  - Consistent recursive snapshots with possibility to exclude certain datasets
  - All modern ZFS features support including resumable replication
  - Flexible snapshot retention on both local and remote sides
  - Comprehensive logging that helps you to understand what is going on and why
  - Configuration via simple and clear YAML file
